.main {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #080000 0%, #000000 15%, #ffffff00 30%, #ffffff00 45%, #000000 60%, #000000 100%);
    z-index: 0;
}

.main::before {
    content: '';
    position: absolute;
    z-index: 5;
    left: 15%;
    top: 50%;
    transform: translateY(-30%);
    height: 50vmin;
    width: 22vmin;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transform: translateY(-30%);
    -moz-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    -o-transform: translateY(-30%);
}

@media (max-width: 1400px) {
    .main::before {
        left: 8%;
        height: 40vmin;
        width: 17vmin;
    }
}

@media (max-width: 991.98px) {

    .main_1.main,
    .main_2.main,
    .main_3.main {
        justify-content: flex-end;
    }

    .main::before {
        top: 55%;
    }
}

.main_2.main::before,
.main_1.main::before {
    background-image: url(./backgrounds/Person-1.png);
}

.main_3.main::before {
    background-image: url(./backgrounds/Person-2.png);
}

.main_1 {
    background-image: url(./backgrounds/slideBig1.webp);
}

@media (max-width: 991.98px) {
    .main_1 {
        background-image: url(./backgrounds/slideMid1.webp);
    }
}

@media (max-width: 767.98px) {
    .main_1 {
        background-image: url(./backgrounds/slideSmall1.webp);
    }
}

.main_2 {
    background-image: url(./backgrounds/slideBig2.webp);
}

@media (max-width: 991.98px) {
    .main_2 {
        background-image: url(./backgrounds/slideMid2.webp);
    }
}

@media (max-width: 767.98px) {
    .main_2 {
        background-image: url(./backgrounds/slideSmall2.webp);
    }
}

.main_3 {
    background-image: url(./backgrounds/slideBig3.webp);
}

@media (max-width: 991.98px) {
    .main_3 {
        background-image: url(./backgrounds/slideMid3.webp);
    }
}

@media (max-width: 767.98px) {
    .main_3 {
        background-image: url(./backgrounds/slideSmall3.webp);
    }
}

.idle_1 .video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}



.idle_2 .video {
    display: none;
}

.idle_2 {
    background-position: center;
    background-image: url(./backgrounds/idleBig2.webp);
}

@media (max-width: 991.98px) {
    .idle_2 {
        background-image: url(./backgrounds/idleMid2.webp);
    }
}

@media (max-width: 767.98px) {
    .idle_2 {
        background-image: url(./backgrounds/idleSmall2.webp);
    }
}

.titlebox {
    position: relative;
    z-index: 2;
    transform: translateY(45%);
    -webkit-transform: translateY(45%);
    -moz-transform: translateY(45%);
    -ms-transform: translateY(45%);
    -o-transform: translateY(45%);
    padding: 0 50px;
}

@media (max-width: 991.98px) {
    .titlebox {
        transform: translateY(40%);
        -webkit-transform: translateY(40%);
        -moz-transform: translateY(40%);
        -ms-transform: translateY(40%);
        -o-transform: translateY(40%);
    }
}

@media (max-width: 767.98px) {
    .titlebox {
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
        position: absolute;
        right: 30px;
        bottom: 7rem;
        padding: 0;
    }
}

@media (max-width: 767.98px) and (orientation: landscape) {
    .titlebox {
        bottom: 2rem;
    }
}

.title {
    color: white;
    margin-bottom: 30px;
}

@media (max-width: 991.98px) {
    .title {
        margin-bottom: 0;
    }
}

@media (max-height: 700px) {
    .title {
        margin-bottom: 0;
    }
}

.title p {

    font-weight: 700;
    font-size: 3.75rem;
    line-height: 4.5rem;

    text-align: center;
    margin: 0;
    transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
}

@media (max-width: 991.98px) {
    .title p {
        font-size: 3.25rem;
        line-height: 3.5rem;
    }
}

@media (max-width: 767.98px) {
    .title p {
        font-size: 2.75rem;
        line-height: 2.5rem;
    }
}

@media (max-width: 400px) {
    .title p {
        font-size: 2.25rem;
        line-height: 2.25rem;
    }
}

.title-color {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.title-color svg {
    width: 2.625rem;
    height: 2rem;
}

@media (max-width: 991.98px) {

    .title-color {
        gap: 15px;
        align-items: flex-start;
    }


    .title-color svg {
        width: 1.96875rem;
        height: 1.75rem;
    }
}

@media (max-width: 767.98px) {

    .title-color {
        gap: 10px;
    }
}

.title-color p {
    font-size: 3.125rem;
    line-height: 3.75rem;
    font-weight: 600;


    padding-bottom: 10px;
}

@media (max-width: 991.98px) {
    .title-color p {
        font-size: 2.625rem;
        line-height: 3.25rem;
        padding-bottom: 0px;
    }
}

@media (max-width: 767.98px) {
    .title-color p {
        font-size: 2.125rem;
        line-height: 2.75rem;
    }
}






.title-color span:last-child {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.next-slide,
.prev-slide {
    cursor: pointer;
}

@media (max-width: 767.98px) {
    .next-slide {
        align-self: flex-start;
    }
}

.typewriter {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3.5s steps(30, end);

}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

.escape {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    letter-spacing: 0.0625rem;
    padding: 20px 40px;
    border: 1px solid gray;
    width: 60%;
    margin: auto;
    cursor: pointer;
    transition-duration: var(--hover-duration);
    text-align: center;
    line-height: 1.2;
}

@media (max-width: 991.98px) {
    .escape {
        padding: 10px 30px;

    }
}

.escape:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.noize {
    margin: 0 auto;
    text-align: center;
    width: 40%;
    color: #C4C4C4;
    font-size: 1rem;
    line-height: 1.5;
    padding-bottom: 30px;
}

@media (max-width: 991.98px) {
    .noize {
        width: 70%;
        padding-bottom: 15px;
    }
}