.main {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom,  #ffffff00 0%, #ffffff00 45%, #000000 60%, #000000 100%);
    z-index: 0;
}



.main_1 {
    background-image: url(./backgrounds/slideBig1.webp);
}

@media (max-width: 991.98px) {
    .main_1 {
        background-image: url(./backgrounds/slideMid1.webp);
    }
}

@media (max-width: 767.98px) {
    .main_1 {
        background-image: url(./backgrounds/slideSmall1.webp);
    }
}

.main_2 {
    background-image: url(./backgrounds/slideBig2.webp);
}

@media (max-width: 991.98px) {
    .main_2 {
        background-image: url(./backgrounds/slideMid2.webp);
    }
}

@media (max-width: 767.98px) {
    .main_2 {
        background-image: url(./backgrounds/slideSmall2.webp);
    }
}

.main_3 {
    background-image: url(./backgrounds/slideBig3.webp);
}

@media (max-width: 991.98px) {
    .main_3 {
        background-image: url(./backgrounds/slideMid3.webp);
    }
}

@media (max-width: 767.98px) {
    .main_3 {
        background-image: url(./backgrounds/slideSmall3.webp);
    }
}

.idle_1 .video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}



.idle_2 .video {
    display: none;
}

.idle_2 {
    background-position: center;
    background-image: url(./backgrounds/idleBig2.webp);
}

@media (max-width: 991.98px) {
    .idle_2 {
        background-image: url(./backgrounds/idleMid2.webp);
    }
}

@media (max-width: 767.98px) {
    .idle_2 {
        background-image: url(./backgrounds/idleSmall2.webp);
    }
}

.wrapper {
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding: 20px;
    max-width: 1460px;
    gap: 100px;
}



.imagebox {
    position: relative;
    z-index: 2;
    flex: 0 1 30%;
    height: 50vmin;
}


@media (max-width: 991.98px) {
    .imagebox {
        display: none;
    }
}



.imagebox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.titlebox {
    position: relative;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    width: fit-content;
}

@media (max-height: 460px) {
    .titlebox {
        top: 45%;
    }
}

.title {
    color: white;
    margin-bottom: 30px;
}

@media (max-width: 991.98px) {
    .title {
        margin-bottom: 0;
    }
}

@media (max-height: 700px) {
    .title {
        margin-bottom: 0;
    }
}

.title p {

    font-weight: 700;
    font-size: 3.75rem;
    line-height: 4.5rem;

    text-align: center;
    margin: 0;
    transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    text-shadow: 1px 1px 1px #000;
}

@media (max-width: 991.98px) {
    .title p {
        font-size: 3.25rem;
        line-height: 3.5rem;

    }
}

@media (max-width: 767.98px) {
    .title p {
        font-size: 2.75rem;
        line-height: 2.5rem;
    }
}

@media (max-width: 400px) {
    .title p {
        font-size: 2.25rem;
        line-height: 2.25rem;
    }
}

.title-color {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.title-color svg {
    width: 2.625rem;
    height: 2rem;
}

@media (max-width: 991.98px) {

    .title-color {
        gap: 15px;
        align-items: flex-start;
    }


    .title-color svg {
        width: 1.96875rem;
        height: 1.75rem;
    }
}

@media (max-width: 767.98px) {

    .title-color {
        gap: 10px;
    }
}

.title-color p {
    font-size: 3.125rem;
    line-height: 3.75rem;
    font-weight: 600;

}

@media (max-width: 991.98px) {
    .title-color p {
        font-size: 2.625rem;
        line-height: 3.25rem;
    }
}

@media (max-width: 767.98px) {
    .title-color p {
        font-size: 2.125rem;
        line-height: 2.75rem;
    }
}






.next-slide {
    transform: rotate(180deg) translateY(4px);
    -webkit-transform: rotate(180deg) translateY(4px);
    -moz-transform: rotate(180deg) translateY(4px);
    -ms-transform: rotate(180deg) translateY(4px);
    -o-transform: rotate(180deg) translateY(4px);
}

.next-slide,
.prev-slide {
    cursor: pointer;
}

.prev-slide {
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
}

@media (max-width: 767.98px) {
    .next-slide {
        align-self: flex-start;
    }
}

.typewriter {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3.5s steps(30, end);
    -webkit-animation: typing 3.5s steps(30, end);
}

@keyframes typing {
    from {width: 0}
    to {width: 100%}
}

.infinite-type{
    position: relative;
    z-index: 2;
}



.dots {
    display:inline-block;
    clip-path: inset(0 40px 0 0);
    animation: l 1s steps(4) infinite;
    -webkit-animation: l 1s steps(10) infinite;
}
  
  @keyframes l {
    to {
      clip-path: inset(0 -1ch 0 0)
    }
  }


/* The typing effect */




.escape {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    letter-spacing: 0.0625rem;
    padding: 20px 40px;
    border: 1px solid gray;

    margin: auto;
    cursor: pointer;
    transition-duration: var(--hover-duration);
    text-align: center;
    line-height: 1.2;
    width: 70%;

}




@media (max-width: 991.98px) {
    .escape {
        padding: 10px 30px;

    }
}

@media (max-height: 460px) {
    .idle .escape {
        width: 100%;
    }
}

.escape:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.noize {
    margin: 0 auto;
    text-align: center;
    width: 70%;
    color: #C4C4C4;
    font-size: 1rem;
    line-height: 1.5;
    padding-bottom: 30px;
}

@media (max-width: 991.98px) {
    .noize {
        width: 100%;
        padding-bottom: 15px;
    }
}

@media (max-height: 700px) {
    .noize {
        padding-bottom: 20px;
    }
}

@media (max-height: 460px) {
    .noize {
    
    }
}