.body{
    position: relative;
    display: flex;
    z-index: 2;
    margin-bottom: 3rem;
}



@media (max-width: 991.98px) {
    .body{
        margin-bottom: 2rem;
    }
}



@media (max-height: 650px)  {
    .body{
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        margin-bottom: 0;
    }
}

.button{
color: white;
width: 60px;
height: 60px;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
cursor: pointer;
transition-duration: var(--hover-duration);
}

.button:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
