.body{
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 1.875rem 1.5rem;
    color: var(--black);
    background-color: #080000;
}

.body::after{
    content: '';
    position: absolute;
    bottom: -199px;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(180deg, #080000 0%, rgba(8, 0, 0, 0) 100%);
}

@media (max-width: 650px) {
    .body{
        padding: 1rem;
    }
}

.container{
    max-width: 1460px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width: 650px) {
    .container{
        flex-direction: column;
    }
}

.logo{
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    
    position: relative;
    padding-left: 3rem;
    position: relative;
}

@media (max-width: 767.98px) {
    .logo{
        font-size: 1.5rem;
        align-self: flex-start;
    }
}

.logo::before{
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    height: 2.375rem;
    width: 2.125rem;
    background-image: url('./icons/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.contacts{
    display: flex;
    gap: 1.875rem;
    transform: translateX(-40px);
    -webkit-transform: translateX(-40px);
    -moz-transform: translateX(-40px);
    -ms-transform: translateX(-40px);
    -o-transform: translateX(-40px);
}

@media (max-width: 767.98px) {
    .contacts{
        transform: translateX(10px);
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
}
}

.contacts a{
    margin: auto;
    transition-duration: var(--hover-duration);
}

.contacts a:hover{
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
}

.button{
    padding: 1rem 1.875rem 1rem 4rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    
    cursor: pointer;
    color: white;
    font-weight: 600;
    font-size: 0.875rem;
    text-transform: uppercase;
    transition-duration: var(--hover-duration);
}

@media (max-width: 767.98px) {
    .button{
        padding: 1rem 3.875rem 1rem 6rem;
        align-self: flex-end;
    } 
}

@media (max-width: 480px) {
    .button{
        padding: 1rem 2.875rem 1rem 5rem;
    }
}

.button_1{
    background: linear-gradient(91.67deg, #6B4141 2.86%, var(--coral) 99.97%);
}
.button_2{
    background: linear-gradient(93.92deg, #36432D 0%, var(--green) 100%);
}
.button_3{
    background: linear-gradient(93.92deg, #432D43 0%, var(--purple) 100%);
}

.button:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.button p{
    text-decoration: none;
    color: inherit;
    text-shadow: 1px 2px  #00000080;
    position: relative;
}
.button p::before{
    content: '';
    position: absolute;
    top: 0;
    transform: translateY(-4px);
    left:  -2rem;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url('./icons/Wallet.png');
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
}