.App{
  width: 100vw;
  height: 100dvh;
  position: relative;
  overflow: hidden;
}

@media (any-hover: hover) and (max-height: 600px) {
  .App{

    height: 700px;
    overflow-y: auto;
  }
}


.coral{
  color: var(--coral);
}

.coral svg{
  fill: var(--coral);
}

.green{
  color: var(--green);
}

.green svg{
  fill: var(--green);
}

.purple {
  color: var(--purple);
}

.purple svg{
  fill: var(--purple);
}