.App{
  width: 100vw;
  height: 100vh;
  position: relative;
}


.coral{
  color: var(--coral);
}

.coral svg{
  fill: var(--coral);
}

.green{
  color: var(--green);
}

.green svg{
  fill: var(--green);
}

.purple {
  color: var(--purple);
}

.purple svg{
  fill: var(--purple);
}